<h1>Your Cart</h1>

<% if notice %>
  <p><%= notice %></p>
<% end %>

<% current_cart.line_items %>


<p>Order total: <strong><%= "$#{line_item.item.price.to_f / 100}" %></strong> </p>

<% if @cart.status == "not submitted" %>
  <%= button_to 'Checkout', checkout_path %>
<% end %>
